body{
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(23, 28, 48);
    display: flex;
    justify-content: space-between;
}
.left{
    width: 200px;
    height: 660px;
    padding: 30px;
    text-align: center;
    margin-right: 10px;
    background-color: rgb(38, 45, 71);
    .img-list{
        margin-bottom: 30px;
        h2{
            margin: 15px;
        }
        img{
            width: 60px;
            border-radius: 50%;
        }
    }
    ul{
        width: 110px;
        margin: 0 auto;
        li{
            transition: 2s;
            a{  
                margin-left: 10px;
                text-decoration: none;
                color: white;
                
            }
            &:hover{
                box-shadow: 0 0 5px rgba(0, 0, 0, .3);
                background-color: rgb(21, 26, 46);
            }
        }
    }
}
.right{
    width: 82%;
    h1{
        margin: 30px 0;
        font-size: 20px;
    }
}