body{
    width: 100%;
    min-width: 1200px;
    background-image: url("../img/index-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.login{
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, .6);
    margin: 200px auto;
    text-align: center;
    h1{
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 20px 0;
    }
    div{
        i{
            color: white;
        }
        input{
            &::-webkit-input-placeholder{
                color: rgba(255, 255, 255, .6);
            }
            outline: transparent;
            border: none;
            border-bottom: 2px solid white;
            margin-bottom: 10px;
            background-color: transparent;
        }
    }
    button{
        width: 45%;
        height: 26px;
        border-radius: 13px;
        border: none;
        outline: none;
        color: white;
        background-image: linear-gradient(to left,blue, red);
        transition: 1s;
        &:hover{
            box-shadow: 0 0 5px rgba(0, 0, 0, .3)
        }
    }
}
footer{
    // width: 100%; 
    a {
        position: absolute;
        text-decoration: none;
        color: white;
        font-size: 12px;
        right: 45%;
        bottom: 20px;
    }
}
.err{
    margin: 0 auto;
    margin-top: 10px;
    font-size: 12px;
    color: red;
}