form{
    width: 300px;
    height: 300px;
    margin: 200px auto;
    text-align: center;
    background-color: #bfa;
    input{
        margin: 0 auto;
    }
    .username{
        // display: none;
    }
}