<!DOCTYPE html>
<html lang = "zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="./css/reset.css">
        <link rel="stylesheet" href="./fa/css/all.min.css">
        <link rel="stylesheet" href="./css/index.css">
        <link rel="icon" href="./img/favicon.png">
    </head>
    <body>
        <div class = "login">
            <form action="/user" method = "POST" autocomplete="off">
                <h1>User</h1>
                <div class = "username">
                    <i class = "fas fa-user"></i>
                    <input type="text" name = "adminName" placeholder="username">
                </div>
                <div class = "password">
                    <i class = "fas fa-lock"></i>
                    <input type="password" name = "passWord" placeholder="password">
                </div>
                <button>登陆</button>
                <div class = "err">{{.Err}}</div>
            </form>
        </div>
       
        <footer>
            <a href="http://www.beian.miit.gov.cn/">豫ICP备20003992号</a>
        </footer>
    </body>
</html>