<!DOCTYPE html>
<html lang = "zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>User</title>
        <link rel="stylesheet" href="./css/reset.css">
        <link rel="stylesheet" href="./fa/css/all.min.css">
        <link rel="stylesheet" href="./css/user.css">
        <link rel="icon" href="./img/favicon.png">
    </head>
    <body>
        <form action="/user/file" method = "POST" enctype="multipart/form-data">
           <input type="file" name = "file" id = "file">
           <input class = "username" type="text" name = "username" value="{{.username}}">
           <button>上传</button>
        </form>
    </body>
</html>